<div class="container p-5 text-center">
  <h1 class="">Partners</h1>
  <div class="card-group justify-content-center">
    <div class="card border-0 col-lg-3 col-md-6 col-12">
      <a href="https://bacaworld.org/" target="_blank" class="">
        <img
          src="/img/clients/baca_a.png"
          alt=""
          class="card-img img-clients"
        />
      </a>
    </div>
    <div class="card border-0 col-lg-3 col-md-6 col-12">
      <img src="/img/clients/mattullerick.png" alt="" class="card-img" />
    </div>
    <div class="card border-0 col-lg-3 col-md-6 col-12">
      <img src="/img/clients/hope.png" alt="" class="card-img" />
    </div>
    <div class="card border-0 col-lg-3 col-md-6 col-12">
      <img src="/img/clients/hackiloilo.png" alt="" class="card-img" />
    </div>
    <!-- <div class="card border-0 col-lg-2 col-md-6 col-12"></div>
          <div class="card border-0 col-lg-2 col-md-6 col-12"></div> -->
  </div>
</div>
