<div class="container text-center">
  <h1 class="">Upcoming Events</h1>
  <div class="py-4"></div>
  <div class="card-deck">
    <div class="card">
      <img src="img/masthead/background.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">RC Integrates</h5>
        <p class="card-text">
          Play @ RCHS Blackbox
        </p>
        <p class="card-text">
          <small class="text-muted">$8 Pre-Sale/ $10 At the door</small>
        </p>
      </div>
    </div>
    <div class="card">
      <img src="img/masthead/background.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">RC Integrates</h5>
        <p class="card-text">
          Play @ RCHS Blackbox
        </p>
        <p class="card-text">
          <small class="text-muted">$8 Pre-Sale/ $10 At the door</small>
        </p>
      </div>
    </div>
    <div class="card">
      <img src="img/masthead/background.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">RC Integrates</h5>
        <p class="card-text">
          Play @ RCHS Blackbox
        </p>
        <p class="card-text">
          <small class="text-muted">$8 Pre-Sale/ $10 At the door</small>
        </p>
      </div>
    </div>
  </div>
</div>
