<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">
  <div style="" class="bg-light">
    <div class="container">
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/h.o.p.e.organization/">
            <i class="fab fa-instagram text-hope"> </i>
          </a>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">
    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">H.O.P.E.</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p>
          Mission Statement
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Resources</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p>
          <a
            class="dark-grey-text text-hope text-decoration-none"
            href="#"
            >Events</a
          >
        </p>
        <p>
          <a
            class="dark-grey-text text-hope text-decoration-none"
            href="/805devops/"
            >Get Involved</a
          >
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">other</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p>
          <a
            class="dark-grey-text text-hope text-decoration-none"
            href="/about/"
            >About</a
          >
        </p>
        <p>
          <a
            class="dark-grey-text text-hope text-decoration-none"
            href="/about/"
            >Team</a
          >
        </p>
        <p>
          <a
            class="dark-grey-text text-hope text-decoration-none"
            href="/about/"
            >Contact</a
          >
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p>
          <i class="fas fa-home mr-3"></i>6124 Montezuma Rd. Wing C Room 211,
          San Diego, CA 92115
        </p>
        <p><i class="fas fa-envelope mr-3"></i>info@hope.com</p>
        <p><i class="fas fa-phone mr-3"></i> (805) 444-7938</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <div class="py-3"></div>

  <!-- Copyright -->
  <div class="footer-copyright bg-blue text-center text-white-50 py-3">
    Copyright © 2016- 2019, Helping Out People Everyday – All Rights Reserved
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
