<footer class="bg-light">
  <div class="container">
    <div class="card-group">
      <div class="card bg-transparent border-0 col-4 p-5">
        <img src="/img/logo/footer.png" alt="" class="card-img" />
        <p class="text-small">
          A non-profit ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
      <div class="card bg-transparent border-0 col-4 p-5">
        <div class="card-body">
          <h6 class="text-uppercase">Resources</h6>
          <hr />
          <h6 class="card-text text-uppercase">
            <a href="" class="text-decoration-none text-alpha">Events</a>
          </h6>
          <h6 class="card-text text-uppercase">
            <a href="" class="text-decoration-none text-alpha">About Us</a>
          </h6>
          <h6 class="card-text text-uppercase">
            <a href="" class="text-decoration-none text-alpha">Contact Us</a>
          </h6>
          <h6 class="card-text text-uppercase">
            <a href="" class="text-decoration-none text-alpha">Press</a>
          </h6>
        </div>
      </div>
      <div class="card bg-transparent border-0 col-4 p-5">
        <div class="card-body">
          <h6 class="text-uppercase">Resources</h6>
          <hr />
          <a href="" class="text-decoration-none text-alpha">
            <i class="fab fa-instagram fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright bg-sky text-center text-white py-3">
    Copyright © 2016 - <script type="text/javascript">document.write(new Date().getFullYear());</script>, H.O.P.E. Organization – All Rights Reserved
  </div>
</footer>
