<section class="bg-sky text-secondary py-5">
  <div class="container">
    <h1 class="text-center">Testimonials</h1>

    <div class="py-4"></div>
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active text-center">
          <img
            src="img/testimonials/person.png"
            class="rounded-circle col-lg-2 col-md-4 col-8"
            alt="..."
          />
          <div class="py-3"></div>

          <h6 class="">
            "Hope has impacted me so much
            fadshflsahfdklasdflkhasdfklhsadkljhfaskljdhf."
          </h6>
          <div class="py-1"></div>

          <small class="">Aiko Trahan</small>
        </div>
        <div class="carousel-item  text-center">
          <img
            src="img/testimonials/person2.png"
            class="rounded-circle col-lg-2 col-md-4 col-8"
            alt="..."
          />
          <div class="py-3"></div>
          <h6 class="">
            "Hope has impacted me so much
            fadshflsahfdklasdflkhasdfklhsadkljhfaskljdhf."
          </h6>
          <div class="py-1"></div>
          <small class="">Aiko Trahan</small>
        </div>
        <div class="carousel-item  text-center">
          <img
            src="img/testimonials/person3.png"
            class="rounded-circle col-lg-2 col-md-4 col-8"
            alt="..."
          />
          <div class="py-3"></div>
          <h6 class="">
            "Hope has impacted me so much
            fadshflsahfdklasdflkhasdfklhsadkljhfaskljdhf."
          </h6>
          <div class="py-1"></div>
          <small class="">Aiko Trahan</small>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleControls"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleControls"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
