{{ define "main" }}
<div class="py-5"></div>
<div class="py-5"></div>
<div class="py-5"></div>

<div class="container-fluid">
  <div class="container text-center">
    <img src="/img/logo/icon.png" alt="" class="img-thumbnail border-0 col-lg-2 col-8" />
    <h1 class="py-5">
      Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
      consectetur, adipisci velit...
    </h1>
    <h6 class="">
      Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
      consectetur, adipisci velit...
    </h6>
    <div class="py-2"></div>
    <a href="" class="">
      <button type="button" class="btn btn-outline-dark col-lg-2 col-4 py-2">
        Join Us
      </button>
    </a>
  </div>
</div>

<div class="py-5"></div>
<div class="py-5"></div>
<div class="py-5"></div>

<div class="parallax p-5">
  <div class="py-5"></div>
  <div class="card-deck">
    <div class="card bg-transparent border-0 col-1"></div>
    <div class="card p-3 col-lg-10 col-12">
      <div class="card-body">
        <h1 class="card-title text-center">
          Welcome to <br />
          H.O.P.E. Organization
        </h1>
        <h6 class="card-text py-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis
          odio non risus pellentesque interdum vitae id turpis. In eu tempus
          velit. Nunc ac felis et ipsum suscipit iaculis nec nec purus. Proin
          iaculis, lorem tempor consectetur efficitur, risus enim placerat nisl,
          ac egestas eros nulla rutrum nunc. Vestibulum orci risus, vulputate
          eget eros vel, dapibus euismod erat. Proin ac rhoncus risus. Sed augue
          nunc, ultrices quis eros ac, vestibulum dictum nisl. Curabitur
          vehicula, est vitae aliquet lobortis, urna ante dapibus nisi, at porta
          velit orci sit amet augue.
        </h6>
        <a href="" class="">
          <button type="button" class="btn btn-block btn-outline-dark px-5">
            Learn More
          </button>
        </a>
      </div>
    </div>
    <div class="card bg-transparent border-0  col-1"></div>
  </div>
  <div class="py-5"></div>
</div>

<div class="py-5"></div>
<div class="py-5"></div>

<div class="container col-lg-10 col-12">
  <div class="card bg-sky border-0 text-center py-2">
    <h5 class="font-weight-bold">Featured Content</h5>
  </div>
  <div class="card-deck">
    <div class="card border-0">
      <div class="py-2"></div>
      <div class="bg-sky py-1"></div>
      <div class="card-body">
        <h6 class="text-uppercase font-weight-bold">
          recent article
        </h6>
        <h4 class="">lajsfh lshdajd</h4>
        <p class="text-small">adalfhadlkfha</p>
        <a href="{{ .Params.contentLink }}" class="">
          <button type="button" class="btn btn-outline-dark">
            Learn More
          </button>
        </a>
      </div>
    </div>
    <div class="card border-0">
      <div class="py-2"></div>
      <div class="bg-sky py-1"></div>

      <div class="card-body">
        <h6 class="text-uppercase font-weight-bold">
          ongoing event
        </h6>
        <h4 class="">lajsfh lshdajd</h4>
        <p class="text-small">adalfhadlkfha</p>
        <a href="{{ .Params.contentLink }}" class="">
          <button type="button" class="btn btn-outline-dark">
            Learn More
          </button>
        </a>
      </div>
    </div>
    <div class="card border-0">
      <div class="py-2"></div>
      <div class="bg-sky py-1"></div>

      <div class="card-body">
        <h6 class="text-uppercase font-weight-bold">
          featured contributor
        </h6>
        <h4 class="">Aiko Trahan</h4>
        <p class="text-small">
          President / Founder <br />
          Camarillo, CA
        </p>
        <img src="" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="py-5"></div>

<div class="contianer-fluid bg-light py-5">
  <div class="container text-center">
    <h1 class="">Blah Blah!</h1>
    <h5 class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
  </div>

  <div class="py-4"></div>

  <div class="container">
    <div class="card-group">
      <div class="card border-0 p-5 col-12">
        <div class="card-body">
          <h2 class="card-title">
            Collaborations
          </h2>
          <h5 class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </h5>
          <a href="{{ .Params.contentLink }}" class="">
            <button type="button" class="btn btn-outline-dark">
              Learn More
            </button>
          </a>
        </div>
      </div>
      <div class="card border-0 col-12">
        <img src="/img/masthead/nomore.png" alt="" class="card-img" />
      </div>
    </div>
  </div>

  <div class="py-4"></div>

  <div class="container">
    <div class="card-deck">
      <div class="card bg-transparent border-0">
        <img src="/img/masthead/club.png" alt="" class="card-img-top" />
        <div class="card-body">
          <h2 class="card-title">
            Club
          </h2>
          <h5 class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </h5>
        </div>
      </div>
      <div class="card bg-transparent border-0">
        <img src="/img/masthead/member.png" alt="" class="card-img-top" />
        <div class="card-body">
          <h2 class="card-title">
            Membership
          </h2>
          <h5 class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-5"></div>

<div class="container-fluid bg-sky">
  <div class="py-5"></div>

  <div class="card-group">
    <div class="card bg-transparent border-0">
      <h1 class="font-weight-lighter py-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </h1>
    </div>
    <div class="card">
      <img src="/img/masthead/group.png" alt="" class="card-img-top" />
    </div>
  </div>

  <div class="py-5"></div>
</div>

<div class="container col-lg-8 col-12 text-center">
  <div class="py-5"></div>
  <h1 class="font-weight-bold">
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. "
  </h1>
  <div class="py-2"></div>
  <h6 class="text-secondary text-uppercase">
    - John Smith, 11th grade english teacher
  </h6>
  <div class="py-2"></div>
  <a href="" class="">
    <button type="button" class="btn btn-beta col-3 py-2">
      Join Us
    </button>
  </a>
  <div class="py-5"></div>
</div>

{{ end }}
