{{ define "main" }}

<header class="iscofmasthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center text-white">
      <div class="col-12">
        <h6 class="font-weight-light text-monospace">NEWS</h6>
        <h2 class="font-weight-light">The Philippine Initiative</h2>
        <p class="lead">
          Redefining education in third world countries.
        </p>
        <a href="#!" class=""
          ><button
            class="btn btn-foundation text-foundation font-foundation px-3 py-2"
          >
            Coming Soon
          </button></a
        >
      </div>
    </div>
  </div>
</header>

{{ partial "clients" . }}

<div class="" style="height:7em;"></div>

<!-- <div class="card bg-dark text-black">
  <img class="card-img" src="/img/redefine.png" alt="Card image" />
</div> -->

<header class="ullerickmasthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center text-white">
      <div class="col-12">
        <h6 class="font-weight-light text-monospace">WORK</h6>
        <h2 class="font-weight-light">Matt Ullerick</h2>
        <p class="lead">
          The development of bodybuilding's most prominent olympian.
        </p>
        <a href="#!" class=""
          ><button
            class="btn btn-foundation text-foundation font-foundation px-3 py-2"
          >
            Coming Soon
          </button></a
        >
      </div>
    </div>
  </div>
</header>

<div class="py-3"></div>

<div class="container-fluid py-5">
  <div class="container col-8">
    <h6 class="text-monospace text-foundation text-uppercase text-center py-2">
      8 0 5
    </h6>
    <div class="row text-foundation py-2">
      <div class="col-lg-6 col-12">
        <h4 class="font-weight-bold">805 Productions</h4>
      </div>
      <div class="col-lg-6 col-12">
        <h6 class="">
          A production studio focused on bold storytelling that grabs the
          attention. We support aspiring artists, filmmakers, and musicians
          develop their skills and reach a wider audience.
        </h6>
      </div>
    </div>
    <div class="row text-foundation py-2">
      <div class="col-lg-6 col-12">
        <h4 class="font-weight-bold">805 DevOps</h4>
      </div>
      <div class="col-lg-6 col-12 py-2">
        <h6 class="">
          The most elite software development team who's practices stem from the
          principle of continuous learning. We use modern technologies to
          develop websites, apps, and games that entertain, tell a story, and
          inspire.
        </h6>
      </div>
    </div>
    <div class="row text-foundation">
      <div class="col-lg-6 col-12">
        <h4 class="font-weight-bold">Project 619</h4>
      </div>
      <div class="col-lg-6 col-12">
        <h6 class="">
          A registered student organization built around the act of giving. We
          conduct several community service events, hosts community based,
          family friendly events and programs free for all, and annually we
          choose to focus on a large city project to leave a lasting impact in
          the city of San Diego.
        </h6>
      </div>
    </div>
  </div>
</div>
<div class="container text-center">
  <a href="/805family/" class=""
    ><button
      class="btn btn-outline-foundation text-foundation font-foundation px-3 py-2"
    >
      Explore the 805 Family
    </button></a
  >
</div>

<div class="py-3"></div>

<header class="iscofmasthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center text-white">
      <div class="col-12">
        <h6 class="font-weight-light text-monospace">NEWS</h6>
        <h2 class="font-weight-light">The Philippine Initiative</h2>
        <p class="lead">
          Redefining education in third world countries.
        </p>
        <a href="#!" class=""
          ><button
            class="btn btn-foundation text-foundation font-foundation px-3 py-2"
          >
            Coming Soon
          </button></a
        >
      </div>
    </div>
  </div>
</header>

<div class="py-5"></div>

<div class="container">
  <div class="row align-items-center no-gutters mb-4 mb-lg-5">
    <div class="col-xl-8 col-lg-7">
      <img
        class="img-fluid mb-3 mb-lg-0"
        src="img/masthead/cmffall18.png"
        alt=""
      />
    </div>
    <div class="col-xl-4 col-lg-5">
      <div class="text-center text-lg-left">
        <h4>Campus Movie Fest - 2018</h4>
        <p class="text-black-50 mb-0">
          Xander Sherer leads a team of filmmakers in developping a short film
          for the Campus Movie Fest Film Festival.
        </p>
      </div>
    </div>
  </div>

  <div class="row align-items-center no-gutters mb-4 mb-lg-5">
    <div class="col-xl-4 col-lg-5">
      <div class="text-center text-lg-left">
        <h4>ISCOF - 2019</h4>
        <p class="text-black-50 mb-0">
          Dwight Diesmo travels abroad to the Philippines to spread his
          knowledge in software engineering and the future of IT.
        </p>
      </div>
    </div>
    <div class="col-xl-8 col-lg-7">
      <img
        class="img-fluid mb-3 mb-lg-0"
        src="img/masthead/iscof2.png"
        alt=""
      />
    </div>
  </div>
</div>

<!-- <div class="container-fluid text-center py-5">
  <h2 class="text-foundation font-weight-bold font-foundation text-uppercase">
    Culture
  </h2>
  <p class="text-foundation">Culture</p>
</div> -->

{{ partial "contact" . }}

{{ end }}
