{{ define "main" }}

<img
  src="/img/masthead/bacaspeech.png"
  width="100%"
  alt=""
  class="img-thumnail"
/>

<div class="container col-lg-7 py-5">
  <div class="card bg-sky border-0 text-white text-center p-5">
    <div class="py-2"></div>
    <h1 class="card-title font-weight-bold">Work With Us</h1>
    <h6 class="card-text">
      Apply to become a member or collaborate with us on our next event. We seek
      members who...
    </h6>
    <div class="py-2"></div>
  </div>
</div>

<div class="container text-center py-5">
  <h1 class="">Bring Hope to Your Community</h1>
</div>

<div class="container col-lg-9">
  <div class="card-deck">
    <div class="card text-center border-0">
      <img src="/img/masthead/becomemember.png" alt="" class="card-img-top" />
      <div class="bg-sky py-1"></div>
      <div class="card-body">
        <h1 class="card-title text-left">Become a Member</h1>
        <h6 class="card-text text-left">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis
          odio non risus pellentesque interdum vitae id turpis.
        </h6>
        <a href="" class="">
          <button type="button" class="btn btn-outline-dark px-5">
            Join Us
          </button>
        </a>
      </div>
    </div>
    <div class="card text-center border-0">
      <img src="/img/masthead/survivor.png" alt="" class="card-img-top" />
      <div class="bg-sky py-1"></div>
      <div class="card-body">
        <h1 class="card-title text-left">Collaborate with us</h1>
        <h6 class="card-text text-left">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis
          odio non risus pellentesque interdum vitae id turpis.
        </h6>
        <a href="" class="">
          <button type="button" class="btn btn-outline-dark px-5">
            Join Us
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container col-lg-8 col-12 text-center">
  <div class="py-5"></div>
  <h1 class="font-weight-bold">
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. "
  </h1>
  <h6 class="text-secondary text-uppercase">
    - John Smith, 11th grade english teacher
  </h6>
  <div class="py-5"></div>
</div>

{{ end }}
